/**
 * [ c-header-getting-simple ]
 *
 * 1. Defaults
 * 2. Block
 * 3. Elements
 * 4. Modifiers
 *
 */

// [ 1. Defaults ];
$c-header-getting-simple-height: 80px !default; // was 80px
$c-header-getting-simple-height-palm: 104px !default;
$c-header-getting-simple-navigation-height: 36px !default;
$c-header-getting-simple-background-color: transparent !default;
// [ 2. Block ]
.c-header-getting-simple {
    position: absolute;
    z-index: $zIndex-2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $c-header-getting-simple-background-color;
    height: auto; // $c-header-getting-simple-height;
    // padding-top: 18px;
    margin-top: 18px;
    @include user-select(none);
}

@media #{$media-palm} {
    .c-header-getting-simple {
        padding-top: 16px;
        height: $c-header-getting-simple-height-palm;
    }
}

// [ 3. Elements ]
@media screen {
    .c-header-getting-simple a {
        color: $type-font-color;
        text-decoration: none;
        @include transition( opacity 0.3s ease-in);
    }
}

.c-header-getting-simple {
    .navigation {
        position: absolute;
        margin-top: $c-header-getting-simple-height * 0.75 - $c-header-getting-simple-navigation-height * 0.5;
        height: $c-header-getting-simple-navigation-height;
        vertical-align: middle;
        right: $gutter;
        @media #{$media-palm} {
            //margin-top: $c-header-getting-simple-height * 0.25; // Removed to simplify header.js
            width: 100%;
            padding: 0;
            right: 0;
            left: 0;
            text-align: center;
        }
        ul li {
            display: inline;
        }
        ul {
            display: inline-block;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            @media #{$media-palm} {
                margin-left: 0;
            }
        }
        ul>li {
            float: left;
            padding-left: 25px;
            @media #{$media-palm} {
                float: center;
                padding: 0 4px;
            }
        }
        // a:hover.navigation-link {
        //     color: #2a2d32;
        // }
        // .navigation-link {
        //     float: left;
        //     padding: 0 10px;
        //     transition-property: border, color;
        //     height: 36px;
        //     line-height: 35px;
        //     border: 2px solid transparent;
        //     color: #a8adb0;
        //     font-size: 0.8em;
        //     font-weight: 700;
        //     letter-spacing: 1px;
        //     text-transform: uppercase;
        //     @media #{$media-palm} {
        //         /*background-color: rgba(0,0,0,0.25);*/
        //         float: inherit;
        //         display: inline-block;
        //     }
        // }
        // .navigation-link--active {
        //     color: #000 !important;
        // }
    }
}


/* With an added fake (pseudo) element it works. IMPORTANT: There must be no spaces between the elements in the source, else it doesn't work! */

.c-header-getting-simple .grid__item {
    height: 44px;
    // border: 1px solid #bababa;
}

@media #{$media-palm} {
    .c-header-getting-simple .grid__item {
        height: 40px;
    }
}

/* Fake (pseudo) element, that enables vertical-align */

.c-header-getting-simple .grid__item:before {
    content: "";
    margin-left: -6px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.c-header-getting-simple__title {
    font-family: "Inter", system-ui, $gf-ibm-plex-sans, "Helvetica", sans;
    letter-spacing: -0.025em;
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 700;
}

@media #{$media-palm} {
    .c-header-getting-simple__title {
        text-align: center;
    }
}

.c-header-getting-simple__link {
    font-family: "Inter", system-ui, $gf-ibm-plex-sans, "Helvetica", sans;
    font-size: 0.95em;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
}

a.c-header-getting-simple__link {
    @include transition(opacity 0.3s ease-in);
}

@media #{$media-palm} {
    .c-header-getting-simple__link {
        text-align: center;
        font-size: 0.75em;
    }
}

.c-header-getting-simple__link:hover:not(.c-header-getting-simple__link--active) {
    opacity: 0.5;
    text-decoration: none;
}

.c-header-getting-simple__link--active {
    font-weight: 700;
    // text-decoration: underline !important;
    // padding-top: 1px;
    // border-color: rgb(189, 189, 189);
    // border-width: 0 0 1px 0;
    // border-style: none none solid none;
}

.c-header-getting-simple__link:not(:last-child) {
    margin-right: 1.7em;
}

@media #{$media-palm} {
    .c-header-getting-simple__link:not(:last-child) {
        margin-right: 1em;
    }
}

.c-header-getting-simple__link-text {
    vertical-align: middle;
}

// [ 4. Modifiers ]
.c-header-getting-simple--relative {
    // position: relative;
    position: sticky;
    background-color: #fafafa;
}

// c-header-getting-simple--static
$c-header-getting-simple--static-vertical-margin: 0px;
.c-header-getting-simple--static {
    background-color: #fff;
    position: fixed;
    height: $c-header-getting-simple-navigation-height + $c-header-getting-simple--static-vertical-margin * 2;
    border-bottom: 1px solid $color-grey-light;
}

.c-header-getting-simple--static .navigation {
    margin-top: $c-header-getting-simple--static-vertical-margin;
}

.c-header-getting-simple--static a:link {
    @include transition( none); // Removes transition when making static
}

.body--c-header-getting-simple--static {
    margin-top: $c-header-getting-simple-height;
}

//

.c-header-getting-simple.c-header-getting-simple--white {
    .navigation .navigation-link:hover {
        color: white;
    }
    .navigation .navigation-link {
        color: rgba(255, 255, 255, 0.5);
    }
    .navigation-link--active {
        color: #fff !important;
    }
    .m-icon {
        fill: #fff;
    }
    a {
        color: #fafafa;
    }
}

.c-header-getting-simple.c-header-getting-simple--red {
    .navigation .navigation-link:hover {
        color: red;
    }
    .navigation .navigation-link {
        color: rgba(255, 0, 0, 0.5);
    }
    .navigation-link--active {
        color: red !important;
    }
    .icon {
        fill: red;
    }
}